html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  background-color: rgb(0, 0, 33);
  font-family: poppins, sans-serif;
}
nav {
  background-color: rgb(8, 8, 62);
  height: 135px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  font-size: 1.5rem;
}
.left a {
  color: white;
  text-decoration: none;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 25px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  font-size: 1.05rem;
  color: rgb(95, 95, 180);
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 23px 0;
}
.leftSection {
  width: 80%;
  margin: 50px 18px;
}
.rightSection {
  margin: 100px 50px;
  font-size: 3.5rem;
  width: 700px;
}
.leftSection img {
  margin: 50px;
}
.purple {
  color: rgb(144, 71, 218);
}
.text-gray {
  color: rgb(162, 157, 157);
  display: inline-block;
  padding-bottom: 60px;
}
#element {
  color: rgb(144, 71, 218);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 95vh;
}
hr {
  max-width: 85vw;
  border: 3px;
  height: 2px;
  background-color: purple;
}
.secondSection h1 {
  font-size: 2rem;
  margin-top: 50px;
}
.secondSection .box {
  display: flex;
  justify-content: space-around;
  height: 1px;
  background-color: white;
  margin: 25px 0px;
  max-width: 70vw;
}
.vertical-line {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 1px;
  background-color: white;
}
.image-top {
  width: 23px;
  height: 24px;
  position: relative;
  top: -26px;
  left: -10px;
}
.vertical-title {
  position: relative;
  top: 75px;
  right: 40px;
}
.vertical-desc {
  color: darkgray;
  font-size: 12px;
  position: relative;
  top: 100px;
  right: 100px;
}
.css-desc {
  position: relative;
  top: -10px;
  left: 25px;
}
.js-desc {
  position: relative;
  right: 26px;
  top: -10px;
}
.tailwind-desc {
  position: relative;
  bottom: 10px;
  right: 15px;
}
.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 100vh;
}
.third-left img {
  width: 300px;
}
.third-right img {
  width: 400px;
  position: relative;
  top: 120px;
}
.ss-container {
  display: flex;
  justify-content: space-around;
}
.third-right h1 {
  position: relative;
  top: 120px;
}
.third-right h4 {
  position: relative;
  top: 120px;
}
.thirdSection button {
  font-size: 1.5rem;
  background-color: hsl(300, 82%, 20%);
  color: white;
  border: none;
  border-radius: 5px;
}
.nikeGitLink {
  position: relative;
  top: 130px;
}
.thirdSection button a {
  text-decoration: none;
  color: white;
}
.thirdSection button:hover {
  font-size: 1.6rem;
  background-color: hsl(300, 82%, 10%);
}
.footer {
  height: 170px;
  background-color: rgb(46, 0, 49);
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.footer .footerFirst {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.footerSecond {
  display: flex;
  flex-direction: column;
}
.footer .footerSecond {
  position: relative;
  top: 25px;
}
.footerSecond img {
  width: 38px;
}
.footer .footerThird {
  display: flex;
  align-items: flex-end;
}
.google {
  display: flex;
  height: 37px;
}
.google p {
  position: relative;
  left: 10px;
  bottom: 10px;
}

@media screen and  (max-width: 768px) {
 
  nav{
    width:210vw;
  }
  main{
    position:relative;
    left:60px;
  }
  .firstSection {
    flex-direction: column-reverse;
    text-align: center;
  }
  .box {
    flex-direction: column;
  }
  .secondSection .vertical {
    height: unset;
  }
  .leftSection {
    position: relative;
    right: 40px;
  }
  .rightSection {
    position: relative;
    left: 160px;
  }
  .image-top {
    top: 40px;
  }
  .vertical-title {
    left: 15px;
    top: 43px;
  }
  .vertical-desc {
    top: 42px;
    left: 29px;
    text-align: center;
    top: -5px;
    font-size: 18px;
  }
  .vertical-line {
    height: 175px;
  }
  .secondSection {
    font-size: 28px;
    height: 132vh;
    max-width: 25vw;
  }
  .box{
    position:relative;
    top:20px;
  }
  .html-desc {
    width: 264px;
  }
  .css-desc {
    width: 235px;
    font-size: 19px;
    top:12px;
  }
  .js-desc {
    width: 300px;
    font-size: 20px;
  }
  .react-text {
    font-size: 18px;
    width: 225px;
  }
  .tailwind-desc {
    width: 300px;
    font-size: 20px;
    top:10px;
    left:10px;
  }
  .thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 150px;
    height: 100%;
  }
  .ss-container {
    flex-wrap: wrap;
  }
  .footer {
    height: 20vh;
    width: 80vh;
    margin-top: 145px;
    overflow:hidden;
    width:205%;
  }
  .footerSecond{
    left:330px;
  }
  .footerThird{
    position: relative;
    top: 10px;
    right: 220px;
    width:100vw;
  }

  .thirdSection > h1{
    margin-top:110px;
  }
  .nikeGitLink{
    margin-bottom:150px;
  }
}
